* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

/* #02f0f0 */
/* #c2cbe9 */
/* #4040e8 */
.form_frame{
    width: 100vw;
    height: auto;
    display: grid;
    padding: 10px;
    place-items: center;
    background: linear-gradient(313deg, #30c02f, white,#30c02f);
    /* perspective: 1036px; */
}
.form_container {
    transform-style: preserve-3d;
    /* transform: rotate3d(1, 1, 1, 120deg); */
    transition: .7s;
    width: calc(100vw - 200px);
    box-shadow: 5px -5px 20px 10px white;
    /* background-color: #30c02f; */
}

body:hover .form_container{
    transform: rotate3d(1, 1, 1, 0deg);

}

.sub_form1 , .sub_form2,.sub_form3{
    padding: 15px;
    margin-bottom: 10px;
    background-color: #85ee84;
}

.rows{
    width: clac(100% -10px);
    height: auto;
    margin: 10px;
    font-size: 25px;
    text-transform: capitalize;
    /* position: relative; */
}

.input,.form_input{
    width: calc(100vw - 300px);
    height: 30px;
    position: relative;
}

.input{
    margin-bottom: 30px;

}

.form_input{
    font-size: 18px;
    padding: 5px 10px;
}
.rows .label{
    backdrop-filter: blur(10px);
    padding: 1px 20px;
    border: 1px solid red;
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255,.25);
    color: #000000;
    pointer-events: none;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.submit_btn{
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
}
.submit_btn input{
    width: 100px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}
.submit_btn input:hover{
    border: 1px solid white;
    background-color: #85ee84;
    color: white;
    font-weight: 500
}

@media screen and (max-width:800px) {
    .form_container{
        width: calc(100vw - 100px);
    }
    .input,.form_input{
        width: calc(100vw - 150px);
    }
}
@media screen and (max-width:500px) {
    .form_container{
        width: calc(100vw - 50px);
    }
    .input,.form_input{
        width: calc(100vw - 100px);
    }
}